<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.juangdiaz.coffeeapp" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/drip"
        android:label="@string/app_name"
        android:theme="@style/CustomActionBarTheme" >
        <activity
            android:name=".activities.CoffeeMainActivity"
            android:logo="@drawable/drip_white" >
        </activity>
        <activity android:name=".activities.SplashScreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.CoffeeDetailActivity"
            android:label="@string/title_activity_coffee_detail" >
        </activity>
    </application>

</manifest>
